<h2><%= @restaurant.name %></h2>
<h5><%=@restaurant.category.capitalize  %></h5>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>



<%= link_to "⬅️ Back ",restaurants_path %><%= link_to "| Edit review ✏️ ",edit_restaurant_path(@restaurant) %>
